@font-face {
    font-family: 'PFBeauSansProBold';
    src: url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.eot');
    src: url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.woff2') format('woff2'),
         url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.woff') format('woff'),
         url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Bold/PFBeauSansPro-Bold.svg#pf_beausans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFBeauSansProReg';
    src: url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.eot');
    src: url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.woff2') format('woff2'),
         url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.woff') format('woff'),
         url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PFBeauSansProLight';
    src: url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.eot');
    src: url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.woff2') format('woff2'),
         url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.woff') format('woff'),
         url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-Light/PFBeauSansPro-Light.svg#pf_beausans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFBeauSansProSeBold';
    src: url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.eot');
    src: url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.woff2') format('woff2'),
         url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.woff') format('woff'),
         url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.ttf') format('truetype'),
         url('../fonts/PFBeauSansPro-SeBold/PFBeauSansPro-SeBold.svg#pf_beausans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}