body {
	background-color: #fff;
	font-size: 14px;
	font-family: 'PF BeauSans Pro', sans-serif;
}
p {
	font-size: 14px;
	font-family: 'PF BeauSans Pro', sans-serif;
	color:#3e3e3d;
	font-weight: 400;
}
a {
	font-size: 14px;
	font-family: 'PF BeauSans Pro', sans-serif;
	color: #2f4c61;
	text-decoration: underline;
}
#wrapper {
	width: 1150px;
	margin: 0 auto;
}
#page {
	width: 980px;
}
.c2f4c61{
	color: #2f4c61;
}
.dashed{
	text-decoration: none;
	border-bottom: 1px dashed #2f4c61;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
/*HEADER*/

header {
	height: 108px;
	background-image: url(../img/header-bg.png);
}
	header div {
		display: inline-block;
		vertical-align: top;
	}
	#logo{
		width: 196px;
		height: 108px;
		text-align: center;
	}
		#logo img{
			width: 140px;
			margin-top: 19px;
		}
	#search-block {
		height: 108px;
		width: 324px;
	}
		#search-block form {
			padding: 40px 0 0 35px;
		}
			.search{
				height: 28px;
    			border: 1px solid #c7d1dc;
    			width: 290px;
    			background-color: #fff;
			}
				.search input[type="search"]{
					height: 28px;
					border: none;
					padding-left: 13px;
					outline: none; /* Убираем свечение в Chrome и Safari */
    				-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    				vertical-align: middle;
					width: 257px;
				}
				.search input[type="submit"]{
					height: 28px;
				    border: none;
				    width: 30px;
				    background-color: #1e495f;
				    float: right;
				    cursor: pointer;
				    background-image: url(../img/search.png); /* Параметры фона */
				    background-repeat: no-repeat;
				    background-position: 50% 50%;
				}
	#geo {
		width: 410px;
		height: 108px;
		padding: 20px 25px;
		background-repeat: no-repeat;
		background-position: right;
	}
		#contact-block{
			    width: 290px;
		}
			#contact-block p{
				padding-top: 3px
			}
			#town {
			    width: 85px;
			    border-left: 2px solid #d8dfe8;
			    padding-left: 15px;
    			height: 65px;
			}

/*HEADER END*/
/*MAIN NAV*/

nav ul{

}
	nav li{
		display:inline-block;
		width: 300px;
	}
	nav li + li {
		width: 170px;
	}
		nav li a{
			color: #fff;
			padding: 10px 20px;
			display: block;
			text-align: center;
			/*background-image: url(../img/bg.png);*/
			background-color: #2f4c62;
			text-decoration: none;
		}
		nav li a:hover{
			background-color: #a2b1c2;
		}

/*MAIN NAV END*/
